h1 New Playset

form(action='/playsets', method='POST', id="new_playset")
  p First, name your new playset -- don't worry, you can change this later!
  !=partial('form/description')
  input.action(type='submit', value='Create')
  a(href='/') Cancel  