h1 New Playset

form(action='/playsets', method='POST', id="new_playset")
  ul
    li
      !=partial('form/description')
    li
      !=partial('form/relationships')
    li
      !=partial('form/needs')
    li
      !=partial('form/locations')
    li
      !=partial('form/objects')
    li
      !=partial('form/instant')
  input(type='submit', value='Create')