h1 New Playset

form(action='/playsets', method='POST', id="new_playset")
  | &raquo;
  ul.pages
    li.description.active
      !=partial('form/description')
    li.relationships
      !=partial('form/relationships')
    li.needs
      !=partial('form/needs')
    li.locations
      !=partial('form/locations')
    li.objects
      !=partial('form/objects')
    li.instant
      !=partial('form/instant')
  input.action(type='submit', value='Create')
  a(href='/') Cancel  