h1 #{playset.title}

ul
  li
    !=partial('display/description', { locals: { playset: playset } })
  li
    !=partial('display/relationships', { locals: { playset: playset, property: 'relationships' } })
  li
    !=partial('display/needs', { locals: { playset: playset, property: 'needs' } } )
  li
    !=partial('display/locations', { locals: { playset: playset, property: 'locations' } })
  li
    !=partial('display/objects', { locals: { playset: playset, property: 'objects' } })
  li
    !=partial('display/instant')
a.action(href='edit') Edit