h1 #{playset.title}

ul
  li
    !=partial('display/description')
  li
    !=partial('display/relationships')
  li
    !=partial('display/needs')
  li
    !=partial('display/locations')
  li
    !=partial('display/objects')
  li
    !=partial('display/instant')