.playset-list, .instant-setup {
  font-family: Georgia, Times New Roman, serif;
  padding: 1em 2em;
  h1 {
    letter-spacing: 2px;
    font-family: Hitchcock, Luckiest Guy, Georgia, Times New Roman, serif;
    font-size: 1.6em;
    margin: 0.5em 0 0.2em;
    text-transform: uppercase;
  }
  h2 {
    letter-spacing: 2px;
    font-family: Hitchcock, Luckiest Guy, Georgia, Times New Roman, serif;
    font-size: 1.3em;
    margin: 0.5em 0 0.2em;
    text-transform: uppercase;
  }
}
.instant-setup {
  h3 {
    font-weight: bold;
  }
  ul {
    margin-left: 1em;
  }
  li {
    list-style: inside none url(foo);
    font-size: 0.9em;
    vertical-align: middle;
  }
}
.playset-list {
  .list {
    li {
      font-size: 0.9em;
      line-height: 2.4em;
      vertical-align: middle;
    }
  }
}
.x-button-label, .x-list {
  font-family: Hitchcock, Luckiest Guy, Georgia, Times New Roman, serif;
}

.splash-page {
  text-align: center;
  .background {
    height: 100%;
  }
  .swipe {
    right: 1em;
    top: 40%;
    position:absolute;
  }
}
