!!! 5
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title Playsets
    link(rel='stylesheet', href='/css/sencha-touch.css', type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Smythe', type='text/css')
    link(rel='stylesheet', href='/css/playsets.css', type='text/css')
    link(rel="SHORTCUT ICON", href="/images/playsets.png")
  body
    script(src='/js/lib/underscore.min.js')
    script(src='/js/lib/underscore.string.min.js')
    - if (production)
      script(src='/js/lib/sencha-touch.js')
      script(src='/js/playsets.min.js')
    - else
      script(src='/js/lib/sencha-touch-debug-w-comments.js')
      script(src='/js/playsets.js')
